body {
	font-family: 'Raleway';
/*	padding: 10px;
*/}

.reservialogo {
	height: 50px;
	width: 100px;
	margin-top: 10px;
}

.signup {
	display: relative;
	float: right;
	margin-top: 25px;
	color: #0065FC;
	font-weight: bold;
	text-decoration: none;
}

.navbar {
	display: flex;	
	margin-top: 20px;
}

.navaccomodations {
	border-bottom: 3px solid #0065FC;
	padding-bottom: 10px;
	width: 230px;
	text-align: center;
}

/*.navaccomodations {
	position: relative;
	right: 50px;
	padding-right: 50px;
	padding-left: 50px;
	padding-bottom: 10px;
	border-bottom: 3px solid #0065FC;
	margin-left: 30px;
}*/

.navaccomodations a {
	text-decoration: none;
	color: #0065FC;
}

.navactivities {
	border-bottom: 3px solid #F2F2F2;
	padding-bottom: 10px;
	width: 230px;
	text-align: center;
}

/*.navactivities {
	padding-right: 100px;
	padding-left: 100px;
	padding-bottom: 10px;
	border-bottom: 3px solid #F2F2F2;
	margin-right: 30px;*/
}

.navactivities a {
	text-decoration: none;
	color: black;
}

.search {
	width: 230px;
	height: 40px;
	border-right: none;
	border-left: none;
	border-top: 2px solid #F2F2F2;
	border-bottom: 2px solid #F2F2F2;
}

::-webkit-input-placeholder {
	color: black;
	font-family: 'Raleway';
	font-weight: bold;
	font-size: 18px;
}

.filters div {
	margin: 7px;
	height: 38px;
	display: inline;
}

.filters a {
	text-decoration: none;
	color: black;
	font-weight: bold;
}

.fa-map-marker-alt {
	background-color: #F2F2F2;
	position: relative;
	left: 4px;
	height: 30px;
	border: 1px solid #F2F2F2;
	padding-right: 15px;
	padding-left: 15px;
	padding-top: 13px;
	padding-bottom: 1px;
	border-top-left-radius: 20px;
	border-bottom-left-radius: 20px;
}

.search-btn {
	position: relative;
	right: 15px;
	background-color: #0065FC;
	color: white;
	height: 45px;
	width: 45px;
	border-radius: 15px;
}

#btn-display {
	display: none;
}

.filter-title {
	font-weight: bold;
}

.fa-money-bill-wave {
	font-size: 80%; 
	position: relative;
	right: 15px;
	bottom: 2px;
	border: 0px solid #DEEBFF;
	border-radius: 50%;
	padding: 15px;
	color: #0065FC;
	background-color: #DEEBFF;
}

.low-cost {
	position: relative;
	left: 15px;
	border: 2px solid #F2F2F2;
	padding-top: 10px;
	padding-bottom: 10px;
	padding-right: 15px;
	border-top-right-radius: 20px;
	border-bottom-right-radius: 20px;
	border-left: none;
}

.fa-heart {
	font-size: 80%; 
	position: relative;
	right: 13px;
	bottom: 2px;
	border: 0px solid #DEEBFF;
	border-radius: 50%;
	padding: 15px;
	color: #0065FC;
	background-color: #DEEBFF;
}

.romantic {
	position: relative;
	left: 20px;
	border: 2px solid #F2F2F2;
	padding-top: 10px;
	padding-bottom: 10px;
	padding-right: 25px;
	padding-left: -10px;
	border-top-right-radius: 20px;
	border-bottom-right-radius: 20px;
	border-left: none;

}

.romantic a {
	position: relative;
	left: 10px;
}

.fa-child {
	font-size: 80%; 
	position: relative;
	right: 35px;
	bottom: 2px;
	border: 0px solid #DEEBFF;
	border-radius: 50%;
	padding: 17px;
	color: #0065FC;
	background-color: #DEEBFF;
	margin-top: 10px;
	margin-left: 15px;
}

.family-friendly {
	position: relative;
	left: 20px;
	border: 2px solid #F2F2F2;
	padding-top: 10px;
	padding-bottom: 10px;
	padding-right: 20px;
	padding-left: -10px;
	border-top-right-radius: 20px;
	border-bottom-right-radius: 20px;
	border-left: none;
}

.family-friendly a {
	position: relative;
	right: 15px;
}


.fa-dog {
	font-size: 80%; 
	position: relative;
	right: 29px;
	bottom: 2px;
	border: 0px solid #DEEBFF;
	border-radius: 50%;
	padding: 15px;
	color: #0065FC;
	background-color: #DEEBFF;
	margin-top: 10px;
	margin-left: 15px;
}

.pets-allowed {
	position: relative;
	left: 15px;
	border: 2px solid #F2F2F2;
	padding-top: 10px;
	padding-bottom: 10px;
	padding-right: 30px;
	border-top-right-radius: 20px;
	border-bottom-right-radius: 20px;
	border-left: none;

}

.pets-allowed a {
	position: relative;
	left: -7px;
}

.fa-info {
	font-size: 11px;
	color: #0065FC;
	border: 2px solid #F2F2F2;
	padding: 6px 8px 6px 8px;
	border-radius: 50%;
}

.info {
	font-family: 'Raleway';
	font-weight: normal;
	font-size: 16px;
	padding-left: 10px;
}

.popular p {
	font-weight: bold;
	font-size: 22px;
	position: relative;
	left: 17px;
	top: 20px;
}

.popular {
	background-color: #F2F2F2;
	height: 580px;
	width: 430px;
	margin-top: 20px;
}

.fa-chart-line {
	position: relative;
	float: right;
	bottom: 20px;
	right: 20px;
	font-size: 20px;
}

.poprooms img{
	position: relative;
	top: 3px;
	left: 3px;
	width: 135px;
	height: 135px;
	float: left;
	border-top-left-radius: 20px;
	border-bottom-left-radius: 20px;
	
}

.poprooms {
	position: relative;
	right: 20px;
	padding-bottom: 45px;
	border: 3px solid white;
	height: 95px;
	background-color: white;
	border-radius: 20px;
	width: 90%;
}

.poproombr {
	display: none;
}

.popular figcaption {
	position: relative;
	left: 30px;
	top: 15px;	
}

.popular a {
	text-decoration: none;
	color: black;
}

.grey {
	color: gray;
}

.blue {
	color: #0065FC;
}

.accomp {
	font-weight: bold;
	font-size: 22px;
}

.accom img {
	width: 382px;
	height: 140px;	
	padding-top: 6px;
	padding-left: 6px;
	border-top-left-radius: 25px;
	border-top-right-radius: 25px;
}

.rooms {
	position: relative;
	right: 25px;
	width: 393px;
	height: 230px;
	border: 1px solid #F2F2F2;
	color: black;
	border-radius: 25px;
	box-shadow: 1px 1px 3px rgba(0,0,0,0.1);
}

.accomodations a {
	text-decoration: none;
}

.accomodations figcaption {
	padding-left: 10px;
	line-height: 1.5;
}

.accomodations p {
	color: black;
}

.showmore {
	font-weight: bold;
}

.activities {
	position: relative;
	right: 20px;
	width: 100%;
}

.activities div {
	width: 402px;
}

.activities p {
	font-weight: bold;
	font-size: 22px;
	position: relative;
	left: 20px;
}

.activities figure {
	width: 402px;
	border-bottom: 1px solid #F2F2F2;
	margin-top: 15px;
	box-shadow: 1px 3px 3px #F2F2F2;
	border-bottom-left-radius: 25px;
	border-bottom-right-radius: 25px;
	border-top-right-radius: 25px;
}

.activities figcaption {
	font-weight: bold;
	color: black;
	padding-left: 10px;
	padding-bottom: 30px;
}

.activities img {
	width: 100%;
	max-height: 150px;
	border-top-right-radius: 25px;
	border-top-left-radius: 25px;
	margin-bottom: 20px;
	margin-top: 10px;
}

.activities a {
	text-decoration: none;
}

footer {
	background-color: #F2F2F2;
	width: 450px;
}

footer h3 {
	font-weight: bold;
}

.about {
	padding-top: 15px;
	padding-left: 10px;
}

.about a {
	display: flex;
	line-height: 2em;
	text-decoration: none;
	color: black;
}

.ouraccomodations {
	padding-top: 10px;
	padding-left: 10px;
}

.ouraccomodations a {
	display: flex;
	line-height: 2em;
	text-decoration: none;
	color: black;
}

.assistance {
	padding-top: 10px;
	padding-left: 10px;
	padding-bottom: 15px;
}

.assistance a {
	display: flex;
	line-height: 2em;
	text-decoration: none;
	color: black;
}

@media (min-width: 768px){
	
	.navbar {
		position: relative;
		bottom: 77px;
		left: 350px;
	}

	.navbar a {
		text-decoration: none;
	}

	.navaccomodations {
		position: relative;
		bottom: 35px;
		border-top: 2px solid #0065FC;
		border-bottom: none;
		width: 150px;
		color: #0065FC;
		padding-top: 35px;
	}

	.navactivities {
		border-bottom: none;
	}

	.navactivities a {
		color: black;
	}

	.description {
		position: relative;
		bottom: 110px;
	}

	.searchform {
		position: relative;
		bottom: 100px;
	}

	#btn-display {
		display: none;
	}

	.filter-title {
		position: relative;
		bottom: 90px;
	}

	.filters {
		width: 100%;	
	}

	.filters div {
		position: relative;
		bottom: 90px;
	}

	.family-friendly {
		position: absolute;
		left: 340px;
		top: -145px;
	}

	.pets-allowed {
		position: absolute;
		top: -198px;
		left: 555px;
	}

	.info {
		position: relative;
		bottom: 200px;
	}

	.popular {
		position: relative;
		bottom: 230px;
		float: right;
		width: 47%;
		height: 600px;
		border-radius: 20px;
	}

	.poprooms {
		max-width: 400px;
	}

	.poprrombr {
		display: none;
	}

	.accomodations {
		position: relative;
		bottom: 210px;
		width: 45%;
		float: left;
	}

	.rooms {
		width: 98%;
		max-width: 400px;
	}

	.accom img {
		width: 97%;
		max-width: 400px;
	}

	.showmore {
		position: relative;
		bottom: 10px;
	}

	/*#activitysec {
		position: relative;
		top: 500px;
	}*/

	.activities p {
		position: absolute;
		top: 1400px;
	}

	.activitiesfigs {
		position: relative;
		top: 860px;
		right: 360px;
		display: inline-grid;
		grid-template-columns: 1fr 1fr;
	}

	.activities figure {
		box-shadow: none;
		max-width: 350px;
	}

	footer {
		position: relative;
		top: 850px;
		width: 100%;
	}

	.about {
		position: absolute;		
	}

	.assistance {
		width: 50%;
		position: relative;
		bottom: 25px;
	}
	

}

@media (min-width: 992px) {

	body {
		background-color: white;
	}

	.navbar {
		display: flex;
		justify-content: center;
		position: relative;
		left: 310px;
	}

	.description p {
		position: relative;
		bottom: 10px;
	}

	.searchform {
		position: relative;
		bottom: 120px;
	}

	.fa-map-marker-alt {
		position: relative;
	}

	#btn-display {
		display: block;
		font-weight: bold;
		font-size: 1.2em;
		position: relative;
		bottom: 3px;
	}

	.search-btn {
		width: 90px;
		position: relative;
		top: 5px;
		border-top-left-radius: 0px;
		border-bottom-left-radius: 0px;
	}

	.filters {
		display: inline;
		position: relative;
		bottom: 25px;
	}

	.romantic {
		position: relative;
		left: 30px;
	}

	.family-friendly {
		position: relative;
		left: 365px;
	}

	.pets-allowed {
		position: relative;
		left: 595px;
	}

	.info {
		position: relative;
		bottom: 215px;
	}

	.popular {
		width: 33%;
		height: 650px;
		position: relative;
		bottom: 250px;
	}

	.popular p {
		position: relative;
		top: 10px;
	}

	.poprooms {
		position: relative;
		bottom: 20px;
		left: -10px;
		margin: 30px;
	}

	.poprooms img {
		margin-right: -17px;
	}

	.poprooms figcaption {
		position: relative;
		right: 10px;
	}

	.poproombr {
		display: inline;
	}

	.poproombr2 {
		display: none;
	}

	.fa-chart-line {
		position: relative;
		bottom: 35px;
	}

	.accomodations {
		width: 64%;
		height: 650px;
		background-color: #F2F2F2;
		position: relative;
		bottom: 250px;
		border-radius: 20px;
	}

	.accomp {
		position: relative;
		left: 20px;
		top: 5px;
	}

	.accomodations div {
		width: 31%;
		display: inline-block;
		margin-right: 10px;
		margin-left: -2px;
		position: relative;
		bottom: 10px;
	}

	.showmore {
		position: relative;
		left: 20px;
	}

	.rooms {
		background-color: white;
	}

	.rooms img {
		position: relative;
		right: 2px;
	}

	.activities p {
		position: absolute;
		top: 430px;
		left: 45px;
	}

	.activities figure {
		max-width: 100%;
	}

	.activities {
		max-width: 1260px;
		max-height: 800px;
	}

	.activities img {
		max-height: 100%;
		max-width: 100%;
	}

	.activities div {
		width: 100%;
	}

	.activitiesfigs {
		position: absolute;
		top: 500px;
		left: 25px;
		width: 1200px;
		display: grid;
		grid-template-columns: 25% 25% 25% 25%;
		grid-template-rows: repeat(5, 100px);
	}

	.oldport {
		grid-column-start: 1;
		grid-column-end: 2;
		grid-row-start: 1;
		grid-row-end: 3;
	}

	.oldport img {
		height: 380px;
		width: 270px;
		padding: 0px;
	}

	.oldport figure {
		position: relative;
		bottom: 25px;
		right: 35px;
		height: 450px;
		width: 270px;
		box-shadow: 1px 3px 3px #F2F2F2;
	}

	.oldport figcaption {
		position: relative;
		bottom: 5px;
		left: 5px;
	}

	.pomeguesfort {
		grid-column-start: 2;
		grid-column-end: 3;
		grid-row-start: 1;
		grid-row-end: 3;
	}

	.pomeguesfort img {
		height: 180px;
		width: 280px;
	}

	.pomeguesfort figure {
		position: relative;
		bottom: 25px;
		right: 35px;
		height: 245px;
		width: 270px;
		box-shadow: 1px 3px 3px #F2F2F2;
	}

	.pomeguesfort figcaption {
		position: relative;
		bottom: 5px;
		left: 5px;
	}

	.frioul {
		grid-column-start: 2;
		grid-column-end: 3;
		grid-row-start: 4;
		grid-row-end: 6;
	}

	.frioul img {
		width: 270px;
		height: 118px;
	}

	.frioul figure {
		position: relative;
		bottom: 63px;
		right: 35px;
		height: 185px;
		width: 270px;
		box-shadow: 1px 3px 3px #F2F2F2;
	}

	.frioul figcaption {
		position: relative;
		bottom: 5px;
		left: 5px;
	}

	.calanques {
		grid-column-start: 3;
		grid-column-end: 4;
		grid-row-start: 1;
		grid-row-end: 3;
	}

	.calanques img {
		height: 380px;
		width: 270px;
		padding: 0px;
	}

	.calanques figure {
		position: relative;
		bottom: 25px;
		right: 35px;
		height: 450px;
		width: 270px;
		box-shadow: 1px 3px 3px #F2F2F2;
	}

	.calanques figcaption {
		position: relative;
		bottom: 5px;
		left: 5px;
	}

	.nortedame {
		grid-column-start: 4;
		grid-column-end: 5;
		grid-row-start: 1;
		grid-row-end: 2;
	}

	.nortedame img {
		height: 130px;
		width: 270px;
	}

	.nortedame figure {
		position: relative;
		bottom: 25px;
		right: 35px;
		width: 270px;
		height: 195px;
		box-shadow: 1px 3px 3px #F2F2F2;
	}

	.nortedame figcaption {
		position: relative;
		bottom: 5px;
		left: 5px;
	}

	.longchamp {
		grid-column-start: 4;
		grid-column-end: 5;
		grid-row-start: 3;
		grid-row-end: 5;
	}

	.longchamp img {
		width: 270px;
		height: 170px;
	}

	.longchamp figure {
		position: relative;
		bottom: 15px;
		right: 35px;
		width: 270px;
		height: 240px;
		box-shadow: 1px 3px 3px #F2F2F2;
	}

	.longchamp figcaption {
		position: relative;
		bottom: 5px;
		left: 5px;
	}

	footer {
		position: absolute;
		top: 1650px;
		height: 250px;
	}

	.footers {
		display: grid;
		grid-auto-columns: 30% 30% 30%;
	}

	.ouraccomodations {
		grid-column-start: 2;
	}

	.assistance {
		grid-column-start: 3;
		position: absolute;
		bottom: 100px;

	}
	
}